 h1 {
          text-size:30px;
          text-align:center;
          margin-top:50px;
          margin-bottom:50px;
          background-color:#1F94CF;
          
        }
        
        body {
          background-color:#F9EBCB;
          color:#000000;
          text-align:left;
        }
