h1 {
font-family: 'FuturaRennerRegular';
font-weight: normal;
font-style: normal;	
} 

* {
	 			font-family: Arial, Verdana, sans-serif;		
				color: #665544;
				text-align: center;
}

			body {
				width: 90%;
				margin: 0 auto;
				background-image: url("https://cdn.dribbble.com/users/1817852/screenshots/3981854/untitled--01.jpg?compress=1&resize=400x300");
}

			#content {
				overflow: auto;
}

			#nav, #feature,  {
				margin: 1%;
}

			.column3 {
				margin-right: 0%;
}
			li {
				display: inline;
				padding: 0.5em;
}
			#nav {
				background-color: #efefef;
				padding: 0.5em 0;
}
			#feature, .article {
				height: 10em;
				margin-bottom: 1em;
				background-color:  #efefef;
}


#feature {
margin: 1%;
padding: 0.5em 0;
text-align:center;	
}
